<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <packageSources>
    <add key="AzulFramework" value="https://azuldevops.pkgs.visualstudio.com/_packaging/azulframework/nuget/v3/index.json" />
    <add key="Nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
     <!-- Used to store credentials -->
	<packageSourceCredentials>
        <AzulFramework>
            <add key="Username" value="azuredevops.nuget@voeazul.com.br" />
            <add key="ClearTextPassword" value="a7ruwyjsyec2wmv5cdjikrvhybqlvqsicz6pnm5qopulk5eoiymq" />
        </AzulFramework>
    </packageSourceCredentials>
</configuration>